<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- 以下页面不被拦截 意味着不需要登录也可以访问以下数据-->
	<http pattern="/login.html" security="none"></http>
	<http pattern="/login_error.html" security="none"></http>
	<http pattern="/css/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/js/**" security="none"></http>
	<http pattern="/plugins/**" security="none"></http>
	<http pattern="/assets/**" security="none"></http>
	
	<!-- 页面拦截规则 -->
	<http use-expressions="false">
<!-- 	     登录用户是ROLE_ADMIN才能访问以下数据 -->
		<intercept-url pattern="/**" access="ROLE_ADMIN" />
<!-- 		
		login-page：登录页
		default-target-url：登录成功后跳转的页面
		authentication-failure-url：如果认证（登录）失败后跳转到的页面
		always-use-default-target：登录后一直会跳转到login.html
-->
		<form-login 
		     login-page="/login.html" 
		     default-target-url="/admin/index.html"
			 authentication-failure-url="/login_error.html" 
			 always-use-default-target="true" />
		<csrf disabled="true" />
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>
		<logout logout-success-url="/login.html"/>
	</http>
	
	<!-- 认证管理器 -->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="123456" authorities="ROLE_ADMIN" />
				<user name="sunwukong" password="dasheng" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>