<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/controller/demoController.js"></script>
</head>
<body ng-app="pinyougou" ng-controller="demoController">
  
  用户名：<input ng-model="entity.username"/>
  密码：<input  ng-model="entity.password"/>
  用户名2：<input  ng-model="entity2.username"/>
 <button ng-click="save()">保存</button>

</body>
</html>